h1 {
	font-size: 4em;
}
#contenuto {
	float: none;
	width: auto;
	margin: 1%
}
#sidebar {
	float: none;
	width: auto;
	margin: 1%;
}

#jumptotop {
	text-indent: 0;
	white-space: normal;
	overflow: visible;
	font-size: 1.2em;
	text-align: center;
	background-color: #980000;
	border: 2pt solid #bbb;
	padding: 0.8% 0.9%;
}
#jumptotop a {
	color: #eee;
}
