#contenuto {
	margin: auto;
	width: 98%;
	padding: 1%;
	position: relative;
	min-height: 10em;
}

@media handheld, screen and (max-width: 680px), only screen and (max-device-width:680px) {
	#contenuto {
		width: 100%;
	}
}
